# Directories to ignore for GIT
**/.idea/
**/.git/
**/.ipynb_checkpoints/
**/temp/
**/__pycache__/

# Ignore local virtual environment checkpoints
**/venv/
**/.venv/

# Files to ignore for GIT
*.pyc
*.pyo
*.pyd
*.tmp

# temp MS Word files
~$*.docx
~$*.doc
