### -------------- Directories to ignore for GIT

# Directory with IntelliJ files
.idea/

# Directory with Android Studio files
.DS_Store/

# Directory with gradle files
.gradle/
build/

# Directory with temp files
temp/
.ipynb_checkpoints/


### -------------- Files to ignore for GIT

# Java class files
*.class

# Python files
*.pyc

# Temp files
*.tmp

# Built application files
*.apk
*.ap_

# Log Files
*.log
